<%- include('./partials/header') %>

  <div class="d-flex text-center mt-auto shadow-lg py-5">
    <div class="container container-sm container-fluid">
      <i class="fas fa-user-secret fa-6x fa-icon mb-4"></i>
      <h1 class="display-2 text-white">MD5 Hash Authenticator</h1>
      <p class="lead text-white">Autenticação usando MD5 hashing</p>
      <hr>
      <a class="btn btn-outline-info btn-lg mx-2" href="/register" role="button">Registrar</a>
      <a class="btn btn-warning btn-lg" href="/login" role="button">Login</a>
    </div>
  </div>

<%- include('./partials/footer') %>