body {
  margin: 0;
}

hr{
  color:lightgrey;
}

input[type=email]:not(:focus):invalid,
input[type=password]:not(:focus):invalid {
  color: red;
  outline-color: red;
}

input[type=email]:valid,
input[type=password]:valid {
  background-color: #d2f8d2;
}

.fa-icon{
  color: #fff;
}

.form-control{
  background-color: #fff;
}

.hash{
  transition: transform .3s;
}

.hash:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.registrar{
  margin: 7rem 20rem 0;
  padding: 1rem;
}

@media(max-width: 850px) {
  .registrar{
    margin: 7rem 8rem 0;
    padding: 1rem;
  }
}

@media(max-width: 576px) {
  .hash p{
    font-size: 1.2rem;
  }

  .registrar{
    margin: 4rem 2rem 0;
    padding: 1rem;
  }

}